<!--Добавление автобуса-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Изменить книгу</title>
</head>
<body>
<div layout:fragment="content">
  <h3 th:text="${book.getTitle()}"></h3>
  <form method="POST" enctype="multipart/form-data" th:action="@{/publish/get-book}" th:object="${publishForm}">
    <input type="hidden" name="bookId"
           th:value="${book.id}">
    <div class="mb-3">
      <label for="amount" class="form-label">Количество</label>
      <input name="amount" type="text" class="form-control" id="amount">
    </div>
    <div class="mb-3">
      <label for="rentPeriod" class="form-label">Количество месяцов аренды</label>
      <input name="rentPeriod" type="text" class="form-control" id="rentPeriod">
    </div>
    <button type="submit" class="btn btn-primary">Взять книгу</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
  </form>
</div>
</body>
</html>
